body{
	margin: 0;
	background: url("makeup.png") fixed;
	background-size: 100%;
	background-repeat: no-repeat;
}

#main{
	width: 1000px;
	height: 600px;
	border: 0px green solid;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background-color: #f2f2f2;
	position: relative;
}

#gmain{
	width: 1000px;
	height: auto;
	border: 0px green solid;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background-color: #f2f2f2;
	position: relative;
}

#navbar ul li{
	display: inline;
	list-style: none;
	margin-right: 0px;
	border: 0px black solid;
	padding: 20px;
	background-color: lightgrey;
}

#navbar ul li:hover{
	background-color: #45a049;
	color: white;
}

#navbar ul a{
	text-decoration: none;
	font-family: Sans-Serif;
	color: black;
	font-weight: bold;
}

#navbar ul{
	text-align: center;
	width: auto;
	height: auto;
	padding: 0;
	margin-top: 0px;
}

#navbar{
	width: auto;
	height: 20px;
	background-color: lightgrey;
	padding: 20px;
}

#cover{
	width: 100%;
	height: 370px;

	position: relative;
}

#coverimg{
	width: 100%;
	height: 370px;
	background: url("home.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-top: 0px;
	position: relative;
}

#naslov{
	position: absolute;
	left:10px;
}

#stud{
	position: absolute;
	right: 10px;
}

#welcome{
	font-family: Sans-Serif;
	font-size: 50px;
	color: white;
	position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#add input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#welcome #add, input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add input[type=submit]:hover {
    background-color: #45a049;
}

#add {
    border-radius: 0px;
    background-color: none;
    padding: 20px;
}

#delete{
    width: 200px;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	position: relative;
	left: 40%;
}

#left{
	width: 450px;
	height: 400px;
	border: 1px black solid;
	float: left;
	margin-left: 33px;
	margin-top: 30px;
}

#right{
	width: 450px;
	height: 400px;
	border: 1px black solid;
	float: left;
	margin-left: 33px;
	margin-top: 30px;
}

#footer{
	width: 1000px;
	height: 50px;
	background-color: lightgrey;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#footer p{
	margin-left: 10px;
	font-family: Sans-Serif;
	position: absolute;
	bottom: 0;
}

#games li{
	display: inline-block;
	margin-left: 30px;
	margin-top: 20px;
}

#games{
	margin: 10px;
}

#sodrzina{
	width: 100%;
	height: auto;
	padding: 10px;
}

.game{
	width: 250px;
	height: 300px;
	border: 1px black solid;
	position: relative;
}

.ld{
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: lightgrey;
}

.l{
	display: inline-block;
	margin-right: 20px;
}

.slider {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.sliki{
	display: none;
}

.slikiblock{
	display: block;
}

.selected{
	border: 3px red solid;
}

h2, h3{
	margin:5px;
}